<dt-table [data]="players" [pageIndex]="page.index" [pageSize]="page.size">
  <dt-column field="id" header="Id" sortable></dt-column>
  <dt-column field="name" header="Name" sortBy="name"></dt-column>
  <dt-column field="age" header="Age" [sortBy]="ageSorter"></dt-column>
  <dt-column field="club" header="Club" sortable></dt-column>
  <dt-column field="national" header="National" sortable></dt-column>
  <ng-template dtSortColumnIcon let-column>
    <mat-icon *ngIf="column.sortable && column.sortDirection === 1">north</mat-icon>
    <mat-icon *ngIf="column.sortable && column.sortDirection === -1">south</mat-icon>
  </ng-template>
</dt-table>

<mat-paginator [length]="page.total"
               [pageSize]="page.size"
               [pageSizeOptions]="[5, 10]"
               (page)="updatePage($event)"></mat-paginator>
